<section data-ng-controller="AdminPanelContractorManagerCTRL" data-ng-init="findOneContractor()">
	<div class="page-header text-center">
		<h2>Contractor Manager</h2>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Select Menu</label>
			<div class="col-sm-10">
				<select class="form-control" data-ng-model="selectedOption" 
								data-ng-change="changeView(selectedOption)">	
					<option value="manage-users">Users</option>
					<option value="manage-contractors">Contractors</option>
				</select>
			</div>
	</div>
	<br><br><br><br>

	<ul class="list-group">
		<li class="list-group-item clearfix">
			<label>Contractor Name: </label>
			<span data-ng-bind="managedContractor.contractorName"></span>
		</li>
		<li class="list-group-item clearfix">
			<label>Contractor Status: </label>
			<span data-ng-bind="managedContractor.contractorStatus"></span>
		</li>
	</ul>
	<div class="text-center">
		<a class="btn btn-default" href="#!/manage-contractors/{{managedContractor._id}}/edit">
			Edit <i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-default" data-ng-click="remove(managedContractor)">
			Delete <i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
