<section>
	<div class="page-header text-center">
		<h2>User Manager</h2>
	</div>
	
	<div  data-ng-controller="AdminPanelController" class="form-group">
		<label class="col-sm-2 control-label">Select Menu</label>
			<div class="col-sm-10">
				<select class="form-control" data-ng-model="selectedOption" 
								data-ng-change="changeView(selectedOption)">	
					<option value="manage-users">Users</option>
				</select>
			</div>
		</div>
	
	<div data-ng-controller="AdminPanelUserManagerCTRL" data-ng-init="findAllUsers()">
		<br><br><br><br>

		<form class="form-horizontal">
			<div class="form-group top-buffer">
				<label class="control-label col-sm-2" for="search">Search</label>
				<div class="controls col-sm-8">
					<input class="form-control" data-ng-model="searchUsers">
				</div>
			</div>
		</form>	

		<table class="table table-striped top-buffer">
			<tr>
				<th>
					User
				</th>
			</tr>
			<tr data-ng-repeat="user in usersList | filter: searchUsers |
													pagination: currentPage * pageSize |
													limitTo: pageSize">
				<td>
					<a href="#!/manage-users/{{user._id}}" class="a-custom">
					<span data-ng-bind="user.displayName"></span>
					</a>
				</td>
			</tr>
		</table>
		<div class="form-group text-center top-buffer">
			<button type="button" class="btn btn-default"
							data-ng-disabled="currentPage == 0"
							data-ng-click="currentPage = currentPage - 1">
			Previous
			</button>
			<span>Page {{currentPage + 1}} of {{pages()}}</span>
			<button type="button" class="btn btn-default"
							data-ng-disabled="currentPage >= usersList.length/pageSize - 1"
							data-ng-click="currentPage = currentPage + 1">
			Next
			</button>
		</div>
	</div>
</section>
