<section data-ng-controller="DashboardController" data-ng-init="findSentries()">
	<div class="page-header text-center">
		<h1>WCCC</h1>
	</div>
	<div class="text-center">
		<h3>Sentries</h3>
	</div>
	<table class="table table-striped top-buffer">
		<tr>
			<th>
				Sentry
			</th>
			<th>
				Status
			</th>
			<th>
				Time	
			</th>
		</tr>
		<tr data-ng-repeat="sentry in sentries | orderBy: sentry.displayName">
			<td>
				<span data-ng-bind="sentry.displayName"></span>
			</td>
			<td>
				<span data-ng-bind="sentry.sentryStatus"></span>
			</td>
			<td>
				<span am-time-ago="sentry.sentryCurrentActivityStartDate"></span>
			</td>
		</tr>
	</table>
</section>
